<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="/css/app.min.css">
    <style>
      /* TODO */
    </style>
  </head>

  <body>
    <div class="app-page" data-page="home">
      <div class="app-topbar">
        <div class="app-title">Quote of the day</div>
      </div>
      <div class="app-content">
        <div class="app-section">
          {{{body}}}
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/zepto.js"></script>
    <script type="text/javascript" src="/js/app.min.js"></script>
    <script>
      App.controller('home', function (page) {
        // put stuff here
      });

      try {
        App.restore();
      } catch (err) {
        App.load('home');
      }
    </script>
  </body>
</html>