<!DOCTYPE html>
<html>
  <head>
    <title>Daily Quotes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="/css/app.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <style>
      /* TODO */
    </style>
  </head>

  <body>
    <div class="app-page" data-page="home">
      <div class="app-topbar" style="background-color:#4486f0">
        <div class="app-title">Quote of the day</div>
      </div>
      <div class="app-content">
        <div class="app-section">
          {{{body}}}
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/zepto.js"></script>
    <script type="text/javascript" src="/js/app.min.js"></script>
    <script>
      App.controller('home', function (page) {
        $(document).delegate('.favorite-quote','click',function(){
          if($(this).hasClass('fa-heart-o')){
            $(this).removeClass('fa-heart-o').addClass('fa-heart');  
          } else {
            $(this).removeClass('fa-heart').addClass('fa-heart-o');  
          }
          
        })
      });

      try {
        App.restore();
      } catch (err) {
        App.load('home');
      }
    </script>
  </body>
</html>