<p>{{{ quoteData.content }}}</p> by <b>{{{ quoteData.title }}}</b>  

<a href="#" style="float:right" title="Add to Favourites">
	<i class="fa fa-heart-o favorite-quote" data-content="{{{ quoteData.content }}}"></i>
</a>
